.vidComp {
    position: relative;
    width: 100%; /* O'lchamni loyihangizga moslang */
    height: 600px;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid white;
    background: #333;
}

.video-preview {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
}

.video-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.play-button {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgb(164, 197, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.video-player {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.video-player source {
    min-width: 100%;
}
